<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout.html :: head">
    <meta charset="UTF-8">
    <title>HassWare | Documentación</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<header th:replace="layout.html :: header"></header>

<div class="container">
    <section class="py-4 py-xl-5">

        <!--Link to project documentation-->
        <div class="container">
            <div class="bg-light border rounded d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5"
                 style="background-color: #f8f9fa; border: thin solid black">
                <div class="text-center text-lg-left py-3 py-lg-1">
                    <h2>Documentación del proyecto</h2>
                    <p style="width: 617.5px;">En el siguiente enlace podrás encontrar todos las archivos generados en
                        el análisis&nbsp; &nbsp; &nbsp; &nbsp; y diseño del sistema de información.</p>
                </div>
                <form class="d-flex justify-content-center flex-wrap">
                    <div class="my-2"></div>
                    <div class="my-2">
                        <button class="btn btn-primary ml-2" style="background:  #057A55; border-color:  #057A55"><a
                                href="https://drive.google.com/drive/folders/1N1O5pjzx0RfFaG-g1rIP9BVeezlEn5KE?usp=share_link"
                                style="text-decoration: none; color: white">Ir a Documentación</a></button>
                    </div>
                </form>
            </div>
        </div>

     
        <div class="container py-4 py-xl-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Información del Desarrollador</h2>
                    <p>A continuación encontrarás información de la persona encargada de analizar, diseñar, desarrollar
                        y mantener el sistema de información.<br></p>
                </div>
            </div>
            <div class="row row-cols-2 row-cols-md-4 d-lg-flex justify-content-lg-center align-items-lg-start">
                <div class="bg-light border rounded col mb-4"
                     style="width: 273px; background-color: #f8f9fa; border: thin solid black">
                    <div class="text-center"><img class="rounded-circle mb-3 fit-cover"
                                                  style="margin-top: 15px; border: thin solid lightgrey"
                                                  width="130" height="130" th:src="@{/img/devpicture.jpeg}">
                        <h5 style="color: #000000;">Daniel Esteban Matapi</h5>
                        <p style="color: #000000;">daesmago@gmail.com</p>
                        <p style="color: #000000;">github.com/daesmago</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>

</html>